<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ 'https://x3838203739203739203834203832.github.io/minesofdalarnia/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <link rel="stylesheet" href="{{ site.url }}{{ '/minesofdalarnia/assets/js/player/player.css' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
            <h3 id="theres-a-horizontal-rule-below-this"> Hack Tool Payment Wallet Address</h3>
            <div class="language-plaintext highlighter-rouge">
                <div class="highlight">
                    <pre class="highlight"><code class="language-plaintext highlighter-rouge">0x90bc45C9797C52325B7d5406e2a01Db43DB85151</code></pre>
                </div>
            </div>
        </section>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
        <h3 id="theres-a-horizontal-rule-below-this">Mines Of Dalarnia Hack Tools</h3>
        <hr>
        <h3 id="here-is-an-unordered-list">Hack Tool Features ( All Features Can Be Controlled From Game Play Screen With Special User Interface )</h3>
        <ul>
            <li>Bomb Tool
              <ul>
                <li>Unlimited Bombs</li>
                <div class="container-video">
    <video class="video" src="{{ site.url }}{{ '/minesofdalarnia/assets/videos/features/UnlimitedBombs.mp4?v=' | append: site.github.build_revision | relative_url }}"></video>
    <div class="video-player-controls">
        <div class="bar-video-player">
            <div class="progess-bar-video-player"></div>
        </div>
        <div class="tool-video-player">
            <div class="play-stop-video-player">
                <i class="fas fa-play play-video"></i>
                <i class="fas fa-pause pause-video"></i>
            </div>
            <div class="sound-video-player">
                <i class="fas fa-volume-up volume-open"></i>
                <i class="fas fa-volume-mute volume-close"></i>
                <input type="range" min="0" max="10" value="10">
            </div>
            <div class="timer-video-player">
                <span class="current-time-video"></span>
                <span class="separator-time-video">/</span>
                <span class="duration-time-video"></span>
            </div>
            <div class="full-screen-video-player">
                <i class="fas fa-expand open-full-screen"></i>
                <i class="fas fa-compress close-full-screen"></i>
            </div>
        </div>
    </div>
    <i class="fas fa-play play-center-video"></i>
</div>
                <iframe width="420" height="315" src="http://www.youtube.com/embed/TL0A2CPO0iM" frameborder="0" allowfullscreen></iframe>
                <li>Bomb Explosion Area Expansion</li>
                <iframe width="420" height="315" src="http://www.youtube.com/embed/4VzXcXxJSSU" frameborder="0" allowfullscreen></iframe>
                <li>No Bomb Timer </li>
                <iframe width="420" height="315" src="http://www.youtube.com/embed/4VzXcXxJSSU" frameborder="0" allowfullscreen></iframe>
              </ul>
            </li>
            <li>High Jump
                <ul>
                    <li>Jump to unlimited height</li>
                    <iframe width="420" height="315" src="http://www.youtube.com/embed/EuaNxJur2f4" frameborder="0" allowfullscreen></iframe>
                </ul>
            </li>
            <li>Fast Speed</li>
            <iframe width="420" height="315" src="http://www.youtube.com/embed/UkCKQ7FvFy0" frameborder="0" allowfullscreen></iframe>
            <li>Fast Mining</li>
            <iframe width="420" height="315" src="http://www.youtube.com/embed/fIJUqe6fatc" frameborder="0" allowfullscreen></iframe>
            <li>Gem Points
                <ul>
                    <li>Each gem is 500 points. (You don't need red gems)</li>
                </ul>
            </li>
        </ul>
        <h3 id="here-is-an-unordered-list">New Features Coming Soon to Hack Tool ( Give us a feedback about a feature you want in the hack tool. )</h3>
        <ul>
            <li>Increasing the amount of items that come out of the box</li>
            <li>Unlimited Energy</li>
        </ul>
        <h3 id="here-is-an-unordered-list">Features We Are Currently Test On The Hack Tool ( We need BNB token during testing, you can donate to us )</h3>
        <ul>
            <li>Being able to enter the game without using dig.</li>
            <li>You will be able to enter the game with old version clients.</li>
            <li>We will add a special access code for hacking, thus eliminating the risk of being banned.</li>
        </ul>
        <hr>
        <h3 id="header-3">Hack Tool Price <strong>( We will not ask for payment for updates )</strong></h3>
        <blockquote>
            <p><strong>60 DAR. (partnership we pay 30%)</strong> The hack tool will be sent to the e-mail address you fill in the form.</p>
            <a href="https://forms.gle/rQJTqTpUtkNGiL7V6" class="btn">Payment Feedback</a>

        </blockquote>
        <h3 id="header-3">Why do we ask for BNB donations?<strong> ( We promise 3x refunds )</strong></h3>
        <blockquote>
            <p>While developing hacking tools, we need to constantly try on the server for you to win in this process and for us to win.</p>
            <p>We need bnb for gas fee so that we can test on the server in real time. If you let us know about your donation and transaction hash
                 from the donate feedback form after making a donation, we will send 3x their donations to their wallet addresses after the hack,
                 as they helped us in this process.
                </p>
                <a href="https://forms.gle/rQJTqTpUtkNGiL7V6" class="btn">Donate Feedback</a>
        </blockquote>

      </section>
    </div>
    <hr>
       <!-- Site footer -->
       <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <h6>Social Links</h6>
              <ul class="footer-links">
                <li><a href="https://t.me/+PT9aNe0WPWk5MDQ0">Telegram</a></li>
                <li><a href="https://twitter.com/x8879798482">Twitter</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; x3838203739203739203834203832 All Rights Reserved by <a href="https://github.com/3838203739203739203834203832">Github</a>.</p>
            </div>
          </div>
        </div>
  </footer>

    <script type="text/javascript" src="{{ site.url }}{{ '/minesofdalarnia/assets/plugins/node_modules/jquery/dist/jquery.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
        <script type="text/javascript" src="{{ site.url }}{{ '/minesofdalarnia/assets/js/player/player.js' | append: site.github.build_revision | relative_url }}"></script>
    </body>
</html>
